@import '../variables.scss';

.header{
    background-color: $colorAzulOscuro;
}

ul.navbar-nav{
    font-size: 16px;
}

.container-fluid{
    height: 70px;
    font-size: 16px;
    background-color: $colorGrisLight;
}

.nav-link{
    color: $colorGrisDark !important;
}

.modal .modal-content{
    
    background-color: $colorSecundario;
    .modal-body{
        text-align: center;
        background-color: $colorRojoLight;
    }
}