@import '../variables.scss';

.header{
    background-color: $colorAzulOscuro;
}

.container-fluid{
    height: 70px;
    font-size: 16px;
    background-color: $colorGrisLight;
}

.nav-link{
    color: $colorGrisDark !important;
}