@import '../variables.scss';

.header{
    background-color: $colorAzulOscuro;
}

ul.navbar-nav{
    font-size: 16px;
}

.container-fluid{
    height: 70px;
    font-size: 16px;
    background-color: $colorGrisLight;
}

.nav-link{
    color: $colorGrisDark !important;
}

.modal .modal-body{
    margin: 0 auto;
    .registro{
        width: 400px;
        height: 200px;
        margin: 15px;
        background-color: aquamarine;
        text-align: center;
        cursor: pointer;
    }
}