<footer class="page-footer font-small blue-grey lighten-5">

  <div class="cabezaFooter">
    <div class="container">

      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">¡Conoce nuestras redes sociales!</h6>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a class="fb-ic">
            <i class="fa fa-facebook white-text mr-4"> </i>
          </a>
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-4"> </i>
          </a>
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-4"> </i>
          </a>
          <a class="ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3 dark-grey-text">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">Holpets</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Servicios</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Cuidadores</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Ser cuidador</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Quedadas</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Noticias</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Sobre Holpets</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">¿Quiénes somos?</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Opiniones</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Fotos</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Ayuda</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i>Madrid</p>
        <p>
          <i class="fa fa-envelope mr-3"></i>email@mail.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i>000 00 00 00</p>
        <p>
          <i class="fa fa-print mr-3"></i>...</p>
      </div>

    </div>
  </div>

  <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
    <a class="dark-grey-text" href="">holpets.es</a>
  </div>

</footer>