@import '../variables.scss';

body {
    background-color: #1abc9c;
    font: 1em Helvetica;
  }
  
  .signup {
    margin: 30px auto;
    width: 600px;
    padding: 30px 20px;
    background-color: white;
    text-align: center;
  }
  
  [type=text] {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    color: black;
  }
  
  [type=submit] {
    margin-top: 25px;
    width: 80%;
    border: 0;
    background-color: $colorPrincipal;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
  }
  
  [type='text']:focus {
    outline: none;
    border-color: $colorPrincipal;
  }