<!-- <div class='whysign'>
    <h1>EEEE</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad asperiores consequatur amet, quod, eligendi, placeat
        nemo ipsam nam ipsa id vitae. Laboriosam nesciunt possimus saepe eius quo repellendus temporibus nihil.
    </p>
    <p>--------:</p>
</div> -->

<div class="container">
    <div class='signup'>
        <form [formGroup]="formulario" (ngSubmit)="enviarDatosPR()">
            <input type='text' placeholder='Nombre:' formControlName="nombre" />
            <input type='text' placeholder='Apellidos:' formControlName="apellidos" />
            <input type='text' placeholder='Edad:' formControlName="edad" />
            <input type='text' placeholder='Dirección:' formControlName="direccion" />
            <input type='text' placeholder='Correo Electrónico:' formControlName="mail" />
            <input type='submit' placeholder='SUBMIT' [disabled]="!formulario.valid" />
        </form>
    </div>
</div>