<div class="chat">
  <div class="container">
    <div class="row">
      <div class="col-12 frame">
        <div class="inputText">
          <div class="msj-rta macro">
            <div class="text text-r">
              <input class="mytext" placeholder="Type a message" />
            </div>
          </div>
          <div class="btnEnviar">
            <div class="ui animated button" tabindex="0">
              <div class="visible content">Enviar</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>