$colorPrincipal: #545871;
$colorSecundario: #B8817D;
$colorGrisDark: #9597A6;
$colorGrisMid: #DADBE6;
$colorGrisLight: #F0F1F7;
$colorRojoDark: #EBD0CE;
$colorRojoMid: #E6DBDA;
$colorRojoLight: #F7ECEB;
$colorAzulOscuro: #090d26;