<section id="descripcion" class="container-fluid pt-4">
  <div class="container">
      <hr class="lineatitulo">
      <h2 class="font-weight-bold text-center">¿CÓMO SER CUIDADOR DE MASCOTAS?</h2>
      <hr class="lineatitulo mb-5 mt-4">
      <div class="text-center pb-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptatem nisi earum porro, saepe ut quia possimus sequi nihil fugiat adipisci enim. Nisi veritatis nobis minima molestiae asperiores esse laudantium.</p>
        <button>REGISTRO</button> 
        <!-- comprobar si está registrado como cuidador, si lo está, redirigir al perfil, si no, ir al formulario de registro para realizar el cambio -->
      </div>
  </div>
</section>

<section>
  <h4>Requisitos:</h4>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>
<!-- colocar image buscador -->