<div class="row">
  <div class="columnaFiltros col-4">
    <div class="text-center pb-5">
      Filtros y Mapa
      <agm-map class="mapa" [latitude]='lat' [longitude]='lon'>
        <agm-marker *ngFor="let index of datos" [latitude]="index.latitud" [longitude]="index.longitud"></agm-marker>
      </agm-map>
    </div>
  </div>

  <div id="contenedorCards" class="col-8">
    <div class="cards container mt-5" *ngFor="let index of datos">
      <div class="card mb-5">
        <div class="titulo">
          <h3 class="text-center">{{index.nombre}} - {{index.user}}</h3>
        </div>
        <div class="row">
          <div class="col-3 imagen"><img src="../../assets/images/logo.png" alt="" width="100px" /></div>
          <div class="col-9">
            <div class="row">
              <ul class="col-6">
                <li>{{index.cuidar_disponibilidad}}</li>
                <li>{{index.cuidar_tipo_mascota}}</li>
              </ul>
              <ul class="col-6">
                <li>Distancia</li>
                <li>
                  <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ui bottom attached button" [routerLink]="['/perfil', index.id, 'mensajes']"><i class="add icon"></i>Más información</div>
      </div>
    </div>
  </div>
</div>