@import "../variables.scss";

agm-map{
    height: 300px;
}
hr.lineatitulo{
    width: 130px;
    background-color: $colorGrisMid;
}

//Título de las secciones
h2{
    font-size: 30px;
    color: $colorAzulOscuro;
}

.columnaFiltros{
    background-color: $colorPrincipal;
}