<!-- SECCIÓN HERO -->
<div class="hero container-fluid">
    <div class="textoHero">
        <h1>La mejor alternativa a la residencia canina</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam vel aliquam sed maxime quis dolore inventore dolorum
            architecto, soluta corrupti veritatis commodi aperiam repellendus quia tempore distinctio, illo quos neque?</p>
    </div>
</div>

<!-- SECCIÓN DESCRIPCIÓN -->
<section id="descripcion" class="container-fluid pt-4">
    <div class="container">
        <hr class="lineatitulo">
        <h2 class="font-weight-bold text-center">¿QUÉ ES HOLPETS?</h2>
        <hr class="lineatitulo mb-5 mt-4">
        <div class="text-center pb-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam, nihil asperiores, temporibus animi ratione
                delectus suscipit architecto in tempore laboriosam libero assumenda eum? Reiciendis id suscipit laudantium
                doloribus quod?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque omnis facilis labore ad deserunt mollitia quos
                exercitationem, iure sit commodi illo perferendis soluta ipsum consequatur officiis. At aperiam consectetur
                consequuntur.
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas in temporibus debitis, ea excepturi explicabo,
                vero perferendis labore doloremque dolores iusto recusandae obcaecati consectetur sit placeat consequuntur,
                similique laudantium laboriosam!</p>
        </div>
    </div>
</section>

<!-- SECCIÓN SERVICIOS -->
<section id="servicios" class="container-fluid pt-4">
    <div class="container">
        <hr class="lineatitulo">
        <h2 class="font-weight-bold text-center">NUESTROS SERVICIOS</h2>
        <hr class="lineatitulo mb-5 mt-4">
        <div class="row">
            <div class="card col-sm-12 col-md-6 col-lg-4 text-center">
                <img class="card-img-top" src="../../assets/images/servicios/canguros.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CANGUROS DE CONFIANZA</h5>
                    <small>SUBTITULO CARGO</small>
                    <hr class="lineacard">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                        is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small>BOTON</small>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6 col-lg-4 text-center">
                <img class="card-img-top" src="../../assets/images/servicios/serCuidador.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SER CUIDADOR</h5>
                    <small>SUBTITULO CARGO</small>
                    <hr class="lineacard">
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small>BOTON</small>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6 col-lg-4 text-center">
                <img class="card-img-top" src="../../assets/images/servicios/quedadas.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">QUEDADAS PERRRUNAS</h5>
                    <small>SUBTITULO CARGO</small>
                    <hr class="lineacard">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card
                        has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small>BOTON</small>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6 col-lg-4 text-center">
                <img class="card-img-top" src="../../assets/images/servicios/noticias.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">NOTICIAS</h5>
                    <small>SUBTITULO CARGO</small>
                    <hr class="lineacard">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card
                        has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small>BOTON</small>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6 col-lg-4 text-center">
                <img class="card-img-top" src="../../assets/images/servicios/otros.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">OTROS</h5>
                    <small>SUBTITULO CARGO</small>
                    <hr class="lineacard">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card
                        has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small>BOTON</small>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECCIÓN INFOR -->
<section id="infor" class="container-fluid pt-4 pl-5">
    <div class="container">
        <hr class="lineatituloOscuro">
        <h2 class="font-weight-bold text-center">CÓMODO Y FÁCIL</h2>
        <hr class="lineatituloOscuro mb-5 mt-4">
        <div class="row pb-5">

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="ui items">
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/notes.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Regístrate de forma sencilla y rápida
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/search.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Busca un canguro para tu mascota cerca de ti
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/chat.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Conoce al cuidador con nuestro chat
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/handshake.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Acepta y reserva al cuidador que más te guste
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="ui items">
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/cage.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Sin jaulas
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/nurse.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Tu mascota siempre atendida
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/euro.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Sin costes
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/dog.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Estará contenta
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="ui items">
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/flight.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Viaja sin remordimientos
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/dog-food.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Siempre estará atendida
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/cat.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Posibilidad de visitas a domicilio
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui image">
                            <img src="../../assets/images/icons/macaw.png">
                        </div>
                        <div class="middle aligned content mr-5">
                            Todo tipo de mascotas
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>