<!-- Hero de página principal con jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="textoHero">
    <h1 class="display-5">La mejor alternativa a la residencia canina</h1>
    <p class="lead">Lorem fistrum torpedo qué dise usteer sexuarl no te digo trigo por no llamarte Rodrigor me cago en tus muelas no te digo trigo por no llamarte Rodrigor apetecan. Ese pedazo de ahorarr qué dise usteer tiene musho peligro te voy a borrar el cerito a wan llevame al sircoo quietooor amatomaa. Al ataquerl diodeno a peich apetecan hasta luego Lucas. Me cago en tus muelas papaar papaar mamaar al ataquerl pupita amatomaa te va a hasé pupitaa hasta luego Lucas sexuarl. A wan diodeno jarl a gramenawer te va a hasé pupitaa ese pedazo de condemor.</p>
  </div>
</div>

<!-- <section id="infor" class="container-fluid">
  <div class="tituloSeccion">
      <h2>¿Qué es HolPets?</h2>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-6">
              <img src="../../assets/images/service-3.jpg" alt="servicio1">
          </div>
          <div class="col-6">
              <h4 class="font-weight-bold">BLABLA1</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, numquam ad soluta laudantium facilis ea itaque
                  nam, ab quas, debitis voluptate! Deserunt mollitia sint non repellat. Facere quis repudiandae sapiente.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi maxime magnam molestias. Delectus aut aliquam
                  iure corporis placeat debitis laborum. Minima non odit, molestias et debitis facilis nemo officiis ut!</p>
          </div>
      </div>
  </div>
</section> -->