<div class="container">
    <div class='signup'>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="mb-5">
                <input type='text' placeholder='Nombre de usuario:' formControlName="user" />
                <input type='password' placeholder='Contraseña:' formControlName="password" />
            </div>

            <div class="mb-5">
                <input type='text' placeholder='Nombre:' formControlName="nombre" />
                <input type='text' placeholder='Apellidos:' formControlName="apellidos" />
                <input type='date' placeholder='Fecha de nacimiento:' formControlName="fecha_nac" />
                <input type='text' placeholder='Correo Electrónico:' formControlName="email" />
                <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" formControlName="direccion"/>
            
            </div>

            <div class="mb-5">
                <input type='text' placeholder='Nombre de su mascota:' formControlName="nombre_mascota" />
                <input type='text' placeholder='Raza:' formControlName="raza" />
                <input type='date' placeholder='Fecha de nacimiento:' formControlName="fecha_nac_mascota" />
                <input type='number' placeholder='Peso:' formControlName="peso" />
                <input type='file' placeholder='Fotos:' formControlName="fotos" />
            </div>

            <div class="mb-5">
                ¿Quiéres ser cuidador?
                <!-- botón yes no -->
                <div class="anil_nepal" (click)="serCuidador()">
                    <label class="switch switch-left-right">
                        <input class="switch-input" type="checkbox" formControlName="ser_cuidador" value="no">
                        <span class="switch-label" data-on="Sí" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>

            <div class="mb-5" *ngIf="mostrar">
                <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" value="perros" id="perros" formControlName="cuidar_tipo_mascota">
                    <label class="custom-control-label" for="perros">Perros</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" value="gatos" id="gatos" formControlName="cuidar_tipo_mascota">
                    <label class="custom-control-label" for="gatos">Gatos</label>
                </div>

                <!-- Default inline 3-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" value="roedores" id="roedores" formControlName="cuidar_tipo_mascota">
                    <label class="custom-control-label" for="roedores">Roedores</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" value="perrosGatos" id="perrosGatos" formControlName="cuidar_tipo_mascota">
                    <label class="custom-control-label" for="perrosGatos">Perros y Gatos</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" value="otros" id="otros" formControlName="cuidar_tipo_mascota">
                    <label class="custom-control-label" for="otros">Otros</label>
                </div>

                <!-- Default inline 3-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" value="cualquiera" id="cualquiera" formControlName="cuidar_tipo_mascota">
                    <label class="custom-control-label" for="cualquiera">Cualquiera</label>
                </div>
            </div>

            <div class="mb-5" *ngIf="mostrar">
                <p> DISPONIBILIDAD</p>
           
                <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="mananas" value="mananas" formControlName="cuidar_disponibilidad" >
                    <label class="custom-control-label" for="mananas">Mañanas</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="tardes" value="tardes" formControlName="cuidar_disponibilidad">
                    <label class="custom-control-label" for="tardes">Tardes</label>
                </div>

                <!-- Default inline 3-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="diaCompleto" value="diaCompleto" formControlName="cuidar_disponibilidad">
                    <label class="custom-control-label" for="diaCompleto">Todo el día</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="finesSemana" value="finesSemana" formControlName="cuidar_disponibilidad">
                        <label class="custom-control-label" for="finesSemana">Fines de semana</label>
                    </div>
            </div>

            <input type='submit' placeholder='SUBMIT' [disabled]="!formulario.valid" />
        </form>
    </div>
</div>